// .wrapper {
//   display: grid;
//   grid-template-columns: 3fr 7fr;
//   gap: 50px;
//   height: 1500px;
// }

.sidebar {
  height: 1500px;
}

.catalog {
  background-color: aquamarine;
  height: 1500px;
}
