.customButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: var(--white-color);

  &:hover {
    background-color: var(--dark-primary);
  }
}

.black {
  background-color: var(--dark-color);
}

.reverce {
  flex-direction: row-reverse;
}
