.filter {
  background-color: var(--light-color);
  padding: 14px 16px 28px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.5px;
}

.filterTitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 17px;
}

.listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 500;

  &:hover {
    color: var(--primary-color);
  }
}

.underListItem {
  padding: 4px;
  list-style: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 500;

  &:hover {
    color: var(--primary-color);
  }
}

.accordCollapse {
  height: 0;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}

.stub {
  width: 16px;
  height: 16px;
}

.priceRange {
  margin-top: 16px;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.5px;
}
